<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Betweenness Centrality</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Betweenness Centrality</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Betweenness Centrality (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Betweenness Centrality (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Betweenness Centrality (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Betweenness centrality algorithm detects the amount of influence a node has over the flow of information in a graph.
It is often used to find nodes that serve as a bridge from one part of a graph to another.</p>
</div>
<div class="paragraph">
<p>The algorithm calculates the shortest path between all pairs of nodes in the graph, and the nodes that most frequently occur on these paths will have the highest score.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will execute betweenness centrality algorithm on the European Roads dataset:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Perform Betweenness Centrality analysis.</p>
</li>
<li>
<p><strong>Part 1</strong>: Perform Betweenness Centrality analysis on the DACH region of the network.</p>
</li>
<li>
<p><strong>Part 2</strong>: Perform a variation of Betweenness Centrality analysis: Randomized-Approximate Brandes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Perform Betweenness Centrality analysis. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will use the Betweenness Centrality algorithm to find the bridge nodes in the European Roads network.
Places that most frequently lie on the shortest paths between other network places will rank the highest.</p>
</div>
<div class="paragraph">
<p>Write the Cypher code to perform the stream variation of the Betweenness Centrality algorithm. It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the Betweenness Centrality algorithm.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by betweenness centrality score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code> with no other special configuration values.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Perform Betweenness Centrality analysis. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to perform the stream variation of the Betweenness Centrality algorithm. It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the Betweenness Centrality algorithm.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by betweenness centrality score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code> with no other special configuration values.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.betweenness.stream('roads')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXBC.1.png" alt="EXBC.1" width="400">
</div>
</div>
<div class="paragraph">
<p>Berlin is quite influential by both the PageRank and Betweenness centrality scores.
The most influential bridge in the network is Wien, followed by Paris.
The city of Wien lies at the intersection of Western and Eastern Europe, so that might be why it has a high betweenness score.
If you plan any long road trips across Europe, you will most likely pass through Wien and should grab yourself a Wiener Schnitzel.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Perform Betweenness Centrality analysis on the DACH region of the network (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will use the Betweenness Centrality algorithm to find the bridge places in the DACH subregion.
Wien is in Austria, which is part of the DACH region.
It might be interesting to see if it will still hold a high betweenness rank when considering road trips only between Germany, Austria, and Switzerland.</p>
</div>
<div class="paragraph">
<p>Write the Cypher code to perform the stream variation of the Betweenness Centrality algorithm. It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>dach-region</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by betweenness centrality score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code> with no other special configuration values.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Perform Betweenness Centrality analysis on the DACH region of the network (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to perform the stream variation of the Betweenness Centrality algorithm. It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>dach-region</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by betweenness centrality score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code> with no other special configuration values.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.betweenness.stream('dach-region')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXBC.2.png" alt="EXBC.1" width="400">
</div>
</div>
<div class="paragraph">
<p>Wien does not show up in the places with the highest betweenness rank of the DACH subregion.
While it connects Western and Eastern Europe, it lies on the DACH region&#8217;s outskirts, which explains the low betweenness rank of the DACH region.
The most influential bridges in the DACH area are München and Nürnberg.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Perform a variation of Betweenness Centrality analysis: Randomized-Approximate Brandes. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>On very large graphs it is not really feasible to run all these shortest path computations, so you might choose to use an approximate version of the algorithm.</p>
</div>
<div class="paragraph">
<p>Write the Cypher code to perform the Randomized-Approximate variation of the Betweenness Centrality algorithm.
It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Add the <strong>samplingSize</strong> parameter.</p>
</li>
<li>
<p>Specify the sampling size of 100.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code></p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Perform a variation of Betweenness Centrality analysis: Randomized-Approximate Brandes. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to perform the Randomized-Approximate variation of the Betweenness Centrality algorithm.
It will return nodeId and score value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Add the <strong>samplingSize</strong> parameter.</p>
</li>
<li>
<p>Specify the sampling size of 100.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.betweenness.stream</code></p>
</div>
<div class="paragraph">
<p>The following query runs the RA-Brandes algorithm which calculates betweenness based on sampling parts of the graph:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.betweenness.stream('roads', {
    samplingSize:100})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXBC.3.png" alt="EXBC.1" width="400">
</div>
</div>
<div class="paragraph">
<p>You will see similar results as with the original algorithm. Due to randomness, each result will be slightly different.
Try running this algorithm with different sampling size values to examine how it influences the results.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Betweenness Centrality: Taking it further</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Try the Randomized-Approximate Brandes analysis with different values for:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>samplingSize</p>
</li>
<li>
<p>samplingSeed</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Betweenness Centrality (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Betweenness centrality is one of the centrality measures to help you identify important nodes in the graph.</p>
</div>
<div class="paragraph">
<p>In this exercise, you ran a betweenness centrality algorithm on the European Roads dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/NodeSimilarity.html'>Continue to Exercise: Node Similarity</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>