<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Graph Catalog</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Graph Catalog</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Graph Catalog (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and load data steps again.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Graph Catalog (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The graph catalog is a concept within the GDSL that allows managing multiple graph projections by name.
Using its name, a created graph can be used many times in the analytical workflow.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will gain some experience with writing Cypher to create a graph in the Graph Catalog.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Project multiple relationship orientations in a single named graph</p>
</li>
<li>
<p><strong>Part 2</strong>: Execute the Degree Centrality algorithm on a named graph</p>
</li>
<li>
<p><strong>Part 3</strong>: Execute the Degree Centrality algorithm on a named graph and filter relationship types</p>
</li>
<li>
<p><strong>Part 4</strong>: Drop a projected graph from Graph Catalog</p>
</li>
<li>
<p><strong>Part 5</strong>: Project European Roads graph to Graph Catalog with native projection.</p>
</li>
<li>
<p><strong>Part 6</strong>: Project a subgraph of European Roads dataset to Graph Catalog with cypher projection.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Project multiple relationship orientations in a single named graph. (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In the Guided Exercise, you have executed the Degree centrality separately for the <strong>NATURAL</strong> and <strong>REVERSE</strong> orientation of <strong>HELPS</strong> relationship type.
Here, you will project both the <strong>NATURAL</strong> and <strong>REVERSE</strong> orientation of the <strong>HELPS</strong> relationship type in a single named graph.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>PersonGraph</strong>.</p>
</li>
<li>
<p>Project all nodes labeled <strong>Person</strong>.</p>
</li>
<li>
<p>Project all relationships with a type <strong>HELPS</strong> and include both the <strong>NATURAL</strong> and <strong>REVERSE</strong> orientations.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create('PersonGraph', 'Person',
  {
    HELPS_REVERSE: {
      type: 'HELPS',
      orientation: 'REVERSE'
   },
   HELPS_NATURAL: {
     type:'HELPS',
     orientation:'NATURAL'
   }
  })<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Execute the Degree Centrality algorithm on a named graph (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will execute the Degree Centrality algorithm on the <strong>PersonGraph</strong> named graph without any additional configuration options.
As you do not specify which relationship types the algorithm considers, it will use all available relationship types as an input.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.alpha.degree.stream</code> if you are using GDS earlier than 1.6, otherwise you will call <code>gds.degree.stream</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.alpha.degree.stream('PersonGraph')
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name as name, score
ORDER BY score DESC<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Note that if we consider both the <strong>NATURAL</strong> and <strong>REVERSE</strong> orientation of a relationship type as in input to a graph algorithm, we will get identical results as if we projected it <strong>UNDIRECTED</strong>. You can confirm this by running the <strong>UNDIRECTED</strong> orientation of the <strong>HELPS</strong> relationship in NEuler.</p>
</div>
<div class="paragraph">
<p>This is what you will see in the result pane:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="UndirectedDegree.png" alt="NativeProjection" width="300">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Execute the Degree Centrality algorithm on a named graph and filter relationship types (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The advantage of using a named graph with multiple relationship types is that you can filter which relationships the algorithm consider at the execution time with the <strong>relationshipTypes</strong> parameter.
You will execute the Degree Centrality algorithm on the <strong>PersonGraph</strong> named graph and consider only <strong>HELPS_NATURAL</strong> relationships.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.alpha.degree.stream</code> if you are using GDS earlier than 1.6, otherwise you will call <code>gds.degree.stream</code>. And include the <code>relationshipTypes</code> parameter.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.alpha.degree.stream('PersonGraph',
  {relationshipTypes:['HELPS_NATURAL']})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name as name, score
ORDER BY score DESC<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This is what you will see in the result pane:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DirectedDegree.png" alt="NativeProjection" width="500">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Drop a projected graph from Graph Catalog (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>After you have completed the analysis on the Person graph, it is advisable to release the projected graph from Graph Catalog to free up memory.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.drop</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Drop a projected graph from Graph Catalog (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>After you have completed the analysis on the Person graph, it is advisable to release the projected graph from Graph Catalog to free up memory.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.drop</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.drop('PersonGraph')<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Project European Roads graph to Graph Catalog with native projection. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will reuse the European Road network throughout the course to familiarize yourself with various graph algorithms.
For this reason, you will now project the European Roads graph as a named graph in Graph Catalog.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to project the European Roads graph to Graph Catalog using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>roads</strong>.</p>
</li>
<li>
<p>Project all nodes labeled <strong>Place</strong>.</p>
</li>
<li>
<p>Project all relationships with a type <strong>EROAD</strong>.</p>
</li>
<li>
<p>Relationships must use the <strong>UNDIRECTED</strong> orientation.</p>
</li>
<li>
<p>Include <strong>inverse_distance</strong> property as a relationship property.</p>
</li>
<li>
<p>Set the default value for <strong>inverse_distance</strong> relationship property to be 1.0.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Project European Roads graph to Graph Catalog with native projection. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to project the European Roads graph to Graph Catalog using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>roads</strong>.</p>
</li>
<li>
<p>Project all nodes labeled <strong>Place</strong>.</p>
</li>
<li>
<p>Project all relationships with a type <strong>EROAD</strong>.</p>
</li>
<li>
<p>Relationships must use the <strong>UNDIRECTED</strong> orientation.</p>
</li>
<li>
<p>Include <strong>inverse_distance</strong> property as a relationship property.</p>
</li>
<li>
<p>Set the default value for <strong>inverse_distance</strong> relationship property to be 1.0.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create('roads','Place',
    {EROAD:{
        type:"EROAD",
        orientation:"UNDIRECTED",
        properties:{
            inverse_distance:{
                property:"inverse_distance",
                defaultValue:1.0
            }
        }
    }
})<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This is what you will see in the result pane:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="NativeProjection.png" alt="NativeProjection" width="500">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 6: Project a subgraph of European Roads dataset to Graph Catalog with cypher projection. (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In some parts of this course, you will analyze the DACH region subgraph of the European Roads network.
The native projection is not expressive enough to allow you to project only <strong>Place</strong> nodes with <strong>D</strong>,<strong>A</strong>, or <strong>CH</strong> country codes.
Due to this limitation of native projection, you will use cypher projection to describe the DACH subregion of the European Roads network.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to project the European Roads graph to Graph Catalog using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>dach-region</strong>.</p>
</li>
<li>
<p>Project all nodes labeled <strong>Place</strong> that have one of the following country codes: <strong>D</strong>, <strong>A</strong>, or <strong>CH</strong></p>
</li>
<li>
<p>Project all relationships with a type <strong>EROAD</strong> and treat them as <strong>UNDIRECTED</strong>.</p>
</li>
<li>
<p>Include <strong>inverse_distance</strong> property as a relationship property.</p>
</li>
<li>
<p>Set the default value for <strong>inverse_distance</strong> relationship property to be 1.0.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create.cypher</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create.cypher('dach-region',
   'MATCH (p:Place)
    WHERE p.countryCode in ["D", "A", "CH"]
    RETURN id(p) as id',
   'MATCH (s:Place)-[r:EROAD]-(t:Place)
    RETURN id(s) as source,id(t) as target, coalesce(r.inverse_distance,1.0) as inverse_distance'
    , {validateRelationships:false})<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This is what you will see in the result pane:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="Subgraph.png" alt="Subgraph" width="500">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Graph Catalog: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Try projecting the Game of Thrones network.</p>
</li>
<li>
<p>Try using different filters with cypher projection</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Graph Catalog (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience with writing Cypher code to store the projected graph in Graph Catalog.
You have also seen an example of how to filter relationship types at algorithm execution time.
The Graph Catalog enables you to reuse the same projected graph in the analytical workflow.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/MemoryRequirements.html'>Continue to Exercise: Memory Requirements</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>