<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Introduction to Graph Algorithms</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Introduction to Graph Algorithms</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Course: Introduction to Graph Algorithms&#8201;&#8212;&#8201;Exercises <span class="image"><img src="neo4j-icon.png" alt="neo4j icon" width="50"></span></h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Welcome to <em>Browser Guides</em>!
This is the interface for performing exercises to this Neo4j course.
They are presented in the form of self-paced exercises.
Navigate through the exercises by pressing the forward button at the right of the window.</p>
</div>
<div class="paragraph">
<p>We start by walking you through some preparations and instructions.
If you have used Neo4j Browser Guides before, you can skip to the last page.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Before you start</h3>
    <br/>
    <div>
      


   <h4>Ensure the database is started</h4>
   <div class="paragraph">
<p>In Neo4j Desktop, ensure that the project you have selected for use with Neo4j Browser is connected to a database that is started.</p>
</div>



   <h4>Enable multi-statement query editor</h4>
   <div class="olist arabic">
<ol class="arabic">
<li>
<p>Click the Browser Settings button in the lower left side of Neo4j Browser <span class="image"><img src="browser-settings-button.png" alt="browser settings button"></span>.</p>
</li>
<li>
<p>Make sure that the <em>Enable multi statement query editor</em> checkbox is selected: <span class="image"><img src="enable-multi-statement-query-editor.png" alt="enable multi statement query editor"></span></p>
</li>
</ol>
</div>



   <h4>Pin a window</h4>
   <div class="paragraph">
<p>It is useful to pin the Browser Guide to the top, so that it doesn&#8217;t scroll down when you execute statements.
You do this by pressing the <em>pin</em> button in the upper right corner of the page: <span class="image"><img src="pin-button.png" alt="pin button"></span>
Pressing it once more will <em>unpin</em> the window again: <span class="image"><img src="unpin-button.png" alt="unpin button"></span>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>About the exercises</h3>
    <br/>
    <div>
      


   <h4>Preparations before each exercise</h4>
   <div class="paragraph">
<p>Each exercise starts with a <em>Preparations</em> page.
It shows you how to reset the database and make sure that it will produce the expected results.
This is useful, for example, if you have made a mistake in one of the previous exercises, or if you have done some testing on your own.</p>
</div>



   <h4>Writing and executing queries</h4>
   <div class="olist arabic">
<ol class="arabic">
<li>
<p>Write the query in the query pane at the top of Neo4j Browser.</p>
</li>
<li>
<p>Click the <em>Run</em> button <span class="image"><img src="run-button.png" alt="run button" width="25"></span> in order to execute the code.</p>
</li>
</ol>
</div>



   <h4>Using code blocks</h4>
   <div class="paragraph">
<p>Many of the exercises contain <em>code blocks</em> with runnable code.
Follow these steps in order to run the code in your database:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click inside of the code block.
You will notice that the code is copied into the code pane at the top of Neo4j Browser.</p>
</li>
<li>
<p>Click the <em>Run</em> button <span class="image"><img src="run-button.png" alt="run button" width="25"></span> in order to execute the code.</p>
</li>
</ol>
</div>



   <h4>"Taking it further"</h4>
   <div class="paragraph">
<p>Some exercises include optional sections called <em>Taking it further</em>.
These are extra exercises that you can complete if you have more time, in order to gain more experience with Graph Algorithms.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Exercises:</h3>
    <br/>
    <div>
      <table class="table tableblock frame-none grid-all" style="width: 100%;">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LoadData.html'>Load the Data for the Exercises</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/GraphCatalog.html'>Graph Catalog</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/MemoryRequirements.html'>Memory Requirements</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/WeaklyConnectedComponents.html'>Weakly Connected Components</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LabelPropagation.html'>Label Propagation</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LouvainModularity.html'>Louvain Modularity</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/TriangleCount.html'>Triangle Count</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LocalClusteringCoefficient.html'>Local Clustering Coefficient</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/PageRank.html'>PageRank</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/BetweennessCentrality.html'>Betweenness Centrality</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/NodeSimilarity.html'>Node Similarity</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a play-topic='https://aksz15.git-pages.thm.de/browserguides/PracticalApplication.html'>Practical application</a></p></td>
</tr>
</tbody>
</table>
	</div>
  </div>
</slide>
  </carousel>
</article>