<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Label Propagation</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Label Propagation</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Label Propagation (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Label Propagation (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Label Propagation (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In the Weakly Connected components exercise, you used the weakly connected components algorithm to write component information to each <strong>Place</strong> node.
This property was named <strong>wcc_component</strong>. In this exercise, you will gain some experience with writing Cypher to implement the Label Propagation algorithm using the European Roads dataset.
This algorithm enables you to determine discreet sets of nodes that form communities or clusters based upon how they are connected, as well as the optional weight of the connections.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Run the Label Propagation to determine the number of communities and their sizes.</p>
</li>
<li>
<p><strong>Part 2</strong>: Perform a basic statistical analysis of the relationship weight properties.</p>
</li>
<li>
<p><strong>Part 3</strong>: Run the weighted Label Propagation to determine the number of communities and their sizes.</p>
</li>
<li>
<p><strong>Part 4</strong>: Add a community property to each node using Label Propagation.</p>
</li>
<li>
<p><strong>Part 5</strong>: Inspect the results of the algorithm.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Run the Label Propagation to determine the number of communities and their sizes (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You can get a quick overview and distribution of the community structure by using the <code>stats</code> mode of the LPA algorithm.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the Label Propagation algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the LPA algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following results: communityCount, communityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.labelPropagation.stats</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Run the Label Propagation to determine the number of communities and their sizes (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the Label Propagation algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the LPA algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following results: communityCount, communityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.labelPropagation.stats</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.labelPropagation.stats('roads')
YIELD communityCount, communityDistribution
RETURN communityCount, communityDistribution<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLPA.1.png" alt="EXLPA.1" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The LPA algorithm found a total of 32 communities in the graph.
The largest community has 219 members, while most of the other communities have less than 50 members.
You can observe that even though the nodes are in the same connected component, they are not necessarily in the same community.
Most likely, each of the five smaller connected components forms its community, but the largest component is broken down into 27 communities.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Perform a basic statistical analysis of the relationship weight properties (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will inspect how adding the relationship weight as an input influence the LPA algorithm results.
But first, you will examine the relationship weight statistics and value distribution.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform a basic statistical analysis of the relationship weight properties using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Analyze both <strong>distance</strong> and <strong>inverse_distance</strong> relationship properties.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>apoc.agg.statistics</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->UNWIND ['distance','inverse_distance'] AS property
MATCH (:Place)-[r:EROAD]-&gt;(:Place)
RETURN property, apoc.agg.statistics(r[property], [0.5,0.75,0.9,0.95,0.99])<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLPA.2.png" alt="EXLPA.2" width="500">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Values of <strong>distance</strong> property are in kilometers.
More than half of the connections are shorter than 100km.
The longest road connecting Moskva to Rostov-na-Donu is 1066km long.
On the other hand, <strong>inverse_distance</strong> values are mostly between 0.3 and 0.74.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Run the weighted Label Propagation to determine the number of communities and their sizes (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>This time, you will run the <code>stats</code> mode of the LPA algorithm and add the relationship weight property as an input.
The LPA algorithm deems that a higher relationship weight value represents a stronger connection.
For this reason, you will use the <strong>inverse_distance</strong> property as the relationship weight input.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the weighted Label Propagation algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the LPA algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following results: communityCount, communityDistribution.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.labelPropagation.stats</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Run the weighted Label Propagation to determine the number of communities and their sizes (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the weighted Label Propagation algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the LPA algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following results: communityCount, communityDistribution.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.labelPropagation.stats</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.labelPropagation.stats('roads',
   {relationshipWeightProperty:'inverse_distance'})
YIELD communityCount, communityDistribution
RETURN communityCount, communityDistribution<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLPA.3.png" alt="EXLPA.3" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The weighted variant of the algorithm found a total of 261 communities, which is almost 10 times more than the unweighted variant.
You can observe that the weighted LPA algorithm found more granular communities as the largest community contains only 13 members.
Depending on your use case, you might use the configuration option that works best for you.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Add a community property to each node using Label Propagation. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will now inspect the members of communities of the weighted LPA results.
First, you need to write back the results to Neo4j.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the Label Propagation algorithm on the European road network and store the results back to nodes using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>write</code> mode of the LPA algorithm.</p>
</li>
<li>
<p>The algorithm will perform a maximum of 10 iterations.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>community_lpa</strong> to each node with the computed value.</p>
</li>
<li>
<p>The weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodePropertiesWritten, communityCount, ranIterations, didConverge.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.labelPropagation.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Add a community property to each node using Label Propagation. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the Label Propagation algorithm on the European road network and store the results back to nodes using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>write</code> mode of the LPA algorithm.</p>
</li>
<li>
<p>The algorithm will perform a maximum of 10 iterations.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>community_lpa</strong> to each node with the computed value.</p>
</li>
<li>
<p>The weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodePropertiesWritten, communityCount, ranIterations, didConverge.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.labelPropagation.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.labelPropagation.write('roads',{
    maxIterations: 10,
    writeProperty: "community_lpa",
    relationshipWeightProperty: "inverse_distance" })
YIELD nodePropertiesWritten, communityCount, ranIterations, didConverge
RETURN nodePropertiesWritten, communityCount, ranIterations, didConverge<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLPA.4.png" alt="EXLPA.4" width="400">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Verify results of the algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>As a part of the analysis, you will inspect the largest ten communities and retrieve its members.</p>
</div>
<div class="paragraph">
<p>Write a query to return all <strong>community_lpa</strong> values of the <strong>Place</strong> nodes.
For each community id, return the size of the community, and the list of <strong>Place</strong> names.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by component size descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Verify results of the algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to return all <strong>community_lpa</strong> values of the <strong>Place</strong> nodes.
For each community id, return the size of the community, and the list of <strong>Place</strong> names.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by component size descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (node:Place)
RETURN node.community_lpa AS communityId,
       count(*) AS communitySize,
       collect(node.name) AS places
ORDER BY communitySize DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLPA.5.png" alt="EXLPA.5" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The largest community has 13 members and contains places mostly located in Spain like Madrid, Bilbao, and San Sebastian.
It also includes Bordeaux and Toulouse, which are two cities located in France.
If you inspect the world map, you can observe that Bordeaux and Toulouse are near the border with Spain, which makes sense, given that the LPA algorithm assigned them the same community as some Spanish cities.
The generated value for communityId may be different for your graph, but the community sizes and members will match.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Label Propagation: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Try using the stream version of the algorithm.</p>
</li>
<li>
<p>Try different configuration values, for example number of iterations.</p>
</li>
<li>
<p>Try using the <strong>seedProperty</strong> parameter.</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Label Propagation (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience with writing Cypher to implement the Label Propagation algorithm using the European Roads dataset.
This algorithm enables you to determine discreet sets of nodes that form clusters based upon how they are connected, as well as the weight of the connections.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LouvainModularity.html'>Continue to Exercise: Louvain Modularity</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>