<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Load Data for the Exercises</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Load Data for the Exercises</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Load Data for the Exercises (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Before you perform the exercises for this course, complete the following steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Install Neo4j Desktop.</p>
</li>
<li>
<p>Create a Project named <strong>Graph Algos</strong>.</p>
</li>
<li>
<p>Create a local 4.1 database or Neo4j Sandbox.</p>
</li>
<li>
<p>Install the APOC plugin for use with this database. (Only for local installation)</p>
</li>
<li>
<p>Install the Graph Data Science plugin for use with this database. (Only for local installation)</p>
</li>
<li>
<p>Install the Graph Data Science Playground Graph App. (Only for local installation)</p>
</li>
<li>
<p>Start the database.</p>
</li>
<li>
<p>Start the Graph Data Science Playground Graph App.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Go to the next page to load the data.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Step 1: Load the data from Graph Data Science Playground</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In Graph Data Science Playground:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click the cog in the upper right part of the panel and select <strong>Sample Graphs</strong>.</p>
</li>
<li>
<p>Click <strong>Select</strong> , followed by <strong>Yes, load it!</strong> to load these datasets:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Game of Thrones</p>
</li>
<li>
<p>European Roads</p>
</li>
<li>
<p>Recipes</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title=""></i>
</td>
<td class="content">
Do <span class="underscore">not</span> load the Twitter dataset as it conflicts with the other datasets!
</td>
</tr>
</table>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Step 2: Load some other data from Neo4j Browser</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>We will load some additional small graphs to demonstrate graph algorithms.
In Neo4j Browser, execute this code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (nAlice:Person {name:'Alice'})
MERGE (nBridget:Person {name:'Bridget'})
MERGE (nCharles:Person {name:'Charles'})
MERGE (nDoug:Person {name:'Doug'})
MERGE (nMark:Person {name:'Mark'})
MERGE (nMichael:Person {name:'Michael'})
MERGE (nAlice)-[:HELPS{weight:5.0}]-&gt;(nBridget)
MERGE (nAlice)-[:HELPS{weight:1.5}]-&gt;(nCharles)
MERGE (nMark)-[:HELPS{weight:2.0}]-&gt;(nDoug)
MERGE (nMark)-[:HELPS{weight:1.7}]-&gt;(nMichael)
MERGE (nBridget)-[:HELPS{weight:0.5}]-&gt;(nMichael)
MERGE (nDoug)-[:HELPS{weight:1.1}]-&gt;(nMark)
MERGE (nMichael)-[:HELPS{weight:0.5}]-&gt;(nAlice)
MERGE (nAlice)-[:HELPS{weight:1.1}]-&gt;(nMichael)
MERGE (nBridget)-[:HELPS{weight:2.6}]-&gt;(nAlice)
MERGE (nMichael)-[:HELPS{weight:1.8}]-&gt;(nBridget)<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>Then execute this code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MERGE (neo4j:Tag {name:'neo4j'})
MERGE (graphql:Tag {name:'graphql'})
MERGE (cypher:Tag {name:'cypher'})
MERGE (graph:Tag {name:'graph'})
MERGE (python:Tag {name:'python'})
MERGE (html:Tag {name:'html'})
MERGE (css:Tag {name:'css'})
MERGE (js:Tag {name:'javascript'})

MERGE (query:Question {name: "How can I optimize this query in neo4j?"})
MERGE (path:Question {name: "Neo4j finding a path between two stations"})
MERGE (grand:Question {name: "How to write relationship mutation in GraphQL using GRANDstack?"})
MERGE (pythonq:Question {name: "Quicker way to write a dict to a neo4j database using python"})
MERGE (list:Question {name: "How to make a responsive horizontal list"})
MERGE (box:Question {name: "3D box tilt with JavaScript and css"})

MERGE (query)-[:HAS_TAG]-&gt;(graph)
MERGE (query)-[:HAS_TAG]-&gt;(neo4j)
MERGE (query)-[:HAS_TAG]-&gt;(cypher)

MERGE (path)-[:HAS_TAG]-&gt;(neo4j)
MERGE (path)-[:HAS_TAG]-&gt;(cypher)
MERGE (path)-[:HAS_TAG]-&gt;(graph)

MERGE (grand)-[:HAS_TAG]-&gt;(neo4j)
MERGE (grand)-[:HAS_TAG]-&gt;(graphql)

MERGE (pythonq)-[:HAS_TAG]-&gt;(neo4j)
MERGE (pythonq)-[:HAS_TAG]-&gt;(python)
MERGE (pythonq)-[:HAS_TAG]-&gt;(cypher)

MERGE (list)-[:HAS_TAG]-&gt;(html)
MERGE (list)-[:HAS_TAG]-&gt;(css)

MERGE (box)-[:HAS_TAG]-&gt;(html)
MERGE (box)-[:HAS_TAG]-&gt;(css)
MERGE (box)-[:HAS_TAG]-&gt;(js)<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Step 3: Calculate inverse value of distance</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The European Roads network is a weighted graph, where the distance between places in kilometers is stored as a relationship weight.
In this course, we will examine the community structure and centrality of the European Roads network.
Community Detection and Centrality algorithms deduce that a higher relationship weight represents a stronger relationship.
In our case, the greater the relationship weight is, the weaker the relationship strength is as the cities are farther away.
For this reason, we will calculate the inverse value of the distance, which will be used as an input relationship weight in Community Detection and Centrality algorithms.</p>
</div>
<div class="paragraph">
<p>In Neo4j Browser, execute this code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (:Place)-[r:EROAD]-&gt;(:Place)
SET r.inverse_distance = 1.0 / log10(r.distance + 2)<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Step 4: Verify data has been loaded.</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>After you have loaded the data, open a Neo4j Browser window to the started database and view the database information.</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>Refresh the database contents in NEuler to have the new datasets available for algorithm execution.</p>
</div>
<div class="paragraph">
<p>The database contents in NEuler will look as follows:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="LoadedNEuler.png" alt="LoadedNEuler" width="500">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Load Data for the Exercises (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Your database is now set up and ready for you to gain experience with graph algorithms.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/GraphCatalog.html'>Continue to Exercise: Graph Catalog</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>