<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Local Clustering Coefficient</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Local Clustering Coefficient</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Local Clustering Coefficient (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Local Clustering Coefficient (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Local Clustering Coefficient (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Local Clustering Coefficient algorithm computes the local clustering coefficient for each node in the graph.
The LCC of a node describes the likelihood that the neighbours of the node are also connected.
It is used to determine how tightly-knit the network is.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will gain some experience with writing Cypher to implement the local clustering coefficient algorithm using the European Roads dataset.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Determine the average local clustering coefficient.</p>
</li>
<li>
<p><strong>Part 2</strong>: Determine the local clustering coefficient for each <strong>Place</strong> node.</p>
</li>
<li>
<p><strong>Part 3</strong>: Verify the clustering coefficient results</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Determine the average local clustering coefficient (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>To get an overall feeling of how tightly-connected the European Roads network is, you will execute the <code>stats</code> mode of the Local Clustering Coefficient algorithm to calculate the average clustering coefficient of the whole network.</p>
</div>
<div class="paragraph">
<p>Write a query to determine the average local clustering coeffient for the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following result: averageClusteringCoefficient.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.localClusteringCoefficient.stats</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Determine the average local clustering coefficient (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to determine the average local clustering coeffient for the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following result: averageClusteringCoefficient.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.localClusteringCoefficient.stats</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.localClusteringCoefficient.stats('roads')
YIELD averageClusteringCoefficient<!--/code--></pre>
</div>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLCC.1.png" alt="EX3.1" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The average clustering coefficient for the European roads network is fairly low, which indicates that the network is not tighly-knit.
In fact, the network is quite sparse as the LCC value has a range between 0 to 1 and the result of 0.014 is very close to zero.
In a typical online social network, you can expect much higher average clustering coefficient scores of 0.5 or even higher.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Determine the triangle count for each <strong>Place</strong> node. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>To inspect the nodes with the highest LCC value, you will use the <code>stream</code> mode of the LCC algorithm.</p>
</div>
<div class="paragraph">
<p>Write a query to determine the local clustering coeffient for each <strong>Place</strong> node in the European road network.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodeId, localClusteringCoefficient</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by local clustering coefficient score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.localClusteringCoefficient.stream</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Determine the triangle count for each Place node. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to determine the local clustering coeffient for each <strong>Place</strong> node in the European road network.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodeId, localClusteringCoefficient</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by local clustering coefficient score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.localClusteringCoefficient.stream</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.localClusteringCoefficient.stream('roads')
YIELD nodeId, localClusteringCoefficient
RETURN gds.util.asNode(nodeId).name AS place, localClusteringCoefficient
ORDER BY localClusteringCoefficient DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLCC.2.png" alt="EXLCC.2.2" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>A node has a maximum value of local clustering coefficient(1), when each of its neighbours has a connection to all the other neighbours.
There are actually four places that have all their neighbors connected.
Given the results from previous algorithms on the European Roads network, you might hypothesize that they are probably nodes with only 2 neighbours that are connected.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Verify the clustering coefficient results. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Validate the hypothesis and inspect the neighbouring nodes and their connections for the <strong>Bradford</strong> node.</p>
</div>
<div class="paragraph">
<p>Write a query to match <strong>Bradford</strong> and its neighbours.
Include connections between neighbours.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Use the variable-length pattern matching.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Verify the clustering coefficient results. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Let&#8217;s confirm that the clustering coefficient score of 1 for the <strong>Bradford</strong> node is correct.</p>
</div>
<div class="paragraph">
<p>Write a query to match <strong>Bradford</strong> and its neighbours.
Include connections between neighbours.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Use the variable-length pattern matching.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path=(p:Place{name:'Bradford'})-[*..2]-(neighbour)
WHERE (p)--(neighbour)
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results will be:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLCC.3.png" alt="EX3.3" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Bradford belongs to a single triangle and has no other connections.
This confirms that the correct clustering coefficient score for the Bradford node is indeed 1 and also our hypothesis.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Local Clustering Coefficient: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Try using the write mode of the algorithm.</p>
</li>
<li>
<p>Try different configuration values.</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Local Clustering Coefficient (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience with writing Cypher to implement the Local Clustering coefficient algorithm to return the clustering coefficient for the <strong>Place</strong> nodes of the European Roads dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/PageRank.html'>Continue to Exercise: PageRank</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>