<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Louvain Modularity</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Louvain Modularity</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Louvain Modularity (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Louvain Modularity (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Louvain Modularity (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Louvain Modularity algorithm finds clusters by comparing community density as it assigns nodes to different groups.
You can think of this as a “what if” analysis to try out various grouping with the goal of eventually reaching a global optimum.</p>
</div>
<div class="paragraph">
<p>It also reveals a hierarchy of communities at different scales, which is useful for understanding the structure of a network at different levels of granularity.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will perform the following with the European Roads dataset:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Run the Louvain Modularity algorithm to add a community property to each node.</p>
</li>
<li>
<p><strong>Part 2</strong>: Inspect the results of the algorithm.</p>
</li>
<li>
<p><strong>Part 3</strong>: Run the Louvain Modularity algorithm to discover the hierarchical structure of communities.</p>
</li>
<li>
<p><strong>Part 4</strong>: Inspect the hierarchical results of the algorithm.</p>
</li>
<li>
<p><strong>Part 5</strong>: View the communities on different hierarchical levels.</p>
</li>
<li>
<p><strong>Part 6</strong>: Examine the communities at each level for a single place.</p>
</li>
<li>
<p><strong>Part 7</strong>: Inspect hierarchical structure of a single community on the final level.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Run the Louvain Modularity algorithm to add a community property to each node. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will start by executing the weighted Louvain Modularity algorithm and storing the results back to Neo4j.
Similarly to LPA, Louvain Modularity algorithm also deems that a higher relationship weight value represents a stronger connection, so you will use the <strong>inverse_distance</strong> relationship property.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the weighted Louvain Modularity algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>community_louvain</strong> to each node with the computed value.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: modularity, ranLevels, communityCount.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.louvain.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Run the Louvain Modularity algorithm to add a community property to each node. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the weighted Louvain Modularity algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>community_louvain</strong> to each node with the computed value.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: modularity, ranLevels, communityCount, communityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.louvain.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.louvain.write('roads',{
    writeProperty:'community_louvain',
    relationshipWeightProperty: 'inverse_distance'})
YIELD modularity, ranLevels, communityCount, communityDistribution<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.1.png" alt="EX5.1" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The algorithm found three hierarchical levels of communities with a total of 24 groups on the last level.
The weighted variant of the Louvain Modularity algorithm found fewer communities than both the weighted and unweighted variants of LPA.
The size of communities seems evenly distributed between 2 and 75, with an average value of 37.25.
Remember, those communities with a size of 2 are probably the disconnected components we discovered with the Weakly Connected Components algorithm.
Note how the Louvain Modularity community size distribution is more evenly distributed than the unweighted LPA results.
In the unweighted LPA results, the largest community contains 219 members, and the second-largest group has only 63 members.
However, this is not a golden rule that will always hold, so it is recommended to try out both the LPA and Louvain Modularity algorithm to see what works best for your use case.</p>
</div>
<div class="paragraph">
<p>The <strong>communityDistribution</strong> value consists of a map containing min, max, mean as well as p50, p75, p90, p95, p99 and p999 percentile values of community size for the last level.
For example, the p99 value of 75 represents that 99% of communities have the community size of 75 or less and 1% of communities have the community size greater than or equal to 75.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Inspect the results of the algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will retrieve the members of the largest 10 communities uncovered by the Louvain Modularity algorithm.</p>
</div>
<div class="paragraph">
<p>Write a query to return all <strong>community_louvain</strong> values in the graph containing <strong>Place</strong> nodes.
For each distinct community value, return the list of places and the community size.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by community size descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Inspect the results of the algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to return all <strong>community_louvain</strong> values in the graph containing <strong>Place</strong> nodes.
For each distinct community value, return the list of places and the community size.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by community size descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
RETURN place.community_louvain AS communityId,
       count(*) AS communitySize,
       collect(place.name) AS places
ORDER BY communitySize DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.2.png" alt="EXLM.2" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The largest community has 75 members.
It contains places from Belgium, Netherlands, France, and Germany.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Run the Louvain Modularity algorithm to discover a hierarchy of communities within the graph. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>When you ran the Louvain Modularity algorithm, it reported that it found three hierarchical levels of communities.
By default, the intermediate communities are not stored or returned in the results.
With the <code>includeIntermediateCommunities</code> parameter, you can specify that the results include the intermediate communities.
To investigate the communities at each hierarchical level, you will first write back the intermediate communities results to Neo4j.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the Louvain Modularity algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Specify that intermediate communities are to be returned in the results.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>communities_louvain</strong> to each node with the computed value for intermediate communities.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: modularity, ranLevels, communityCount, communityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.louvain.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Run the Louvain Modularity algorithm to discover the hierarchal structure of communities. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the Louvain Modularity algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Specify that intermediate communities are to be returned in the results.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>communities_louvain</strong> to each node with the computed value for intermediate communities.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p><code>YIELD</code> the following results: modularity, ranLevels, communityCount, communityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.louvain.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.louvain.write('roads',{
    writeProperty:'communities_louvain',
    relationshipWeightProperty: 'inverse_distance',
    includeIntermediateCommunities: true})
YIELD modularity, ranLevels, communityCount<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.1.png" alt="EXLM.1" width="400">
</div>
</div>
<div class="paragraph">
<p>The community distribution statistics in the results are identical to the one we got in Part 1, as the community distribution is only calculated for the last hierarchical level.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Inspect the hierarchical results of the algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will now inspect the intermediate communities and their structure.
You will begin by inspecting the <strong>Place</strong> nodes with a shared community throughout all the levels.</p>
</div>
<div class="paragraph">
<p>Write a query to return all <strong>communities_louvain</strong> values in the graph containing <strong>Place</strong> nodes.
For each distinct community value, return the list of places and the community size.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Inspect the hierarchical results of the algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to return all <strong>communities_louvain</strong> values in the graph containing <strong>Place</strong> nodes.
For each distinct community value, return the list of places and the community size.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
RETURN place.communities_louvain AS communities,
       count(*) AS communitiesSize,
       collect(place.name) AS places
ORDER BY communitiesSize DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.4.png" alt="EX5.4" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Antwerpen, Gent, Bruxelles, and six other places share the same community through all the hierarchical levels.
On the first level, they have been assigned to the community with an id 145, but later switched to community 192 on level two and final third level.
As we group the results by all the hierarchical levels, the communities will only include members that share the same community on all three levels.
For example, Paris and Dijon share the community 198 on the third level, but they are not grouped together in the results because they do not share the same communities on the first and second levels.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: View the communities on different hierarchical levels. (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You can then query the graph to find which communities form at each hierarchical level.
You will inspect the communities of the final level to verify they are identical to the Part 2 results.</p>
</div>
<div class="paragraph">
<p>Execute this code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
RETURN place.communities_louvain[-1] AS community,
       count(*) as communitiesSize,
       collect(place.name) AS places
ORDER BY communitiesSize DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.2.png" alt="EXLM.2" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The results are identical to before when we ran the Louvain Modularity algorithm in Part 2.</p>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you want to inspect the community structure of the first hierarchical level, you can execute this code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
RETURN place.communities_louvain[0] AS community,
       count(*) as communitiesSize,
       collect(place.name) AS places
ORDER BY communitiesSize DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.5.png" alt="EXLM.5" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Communities on the first hierarchical level are the most fine-grained (smallest) by definition.
The largest community on the first level contains only 9 members.
Try to inspect the community structure of the second level, you only need to change the array index.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 6: Examine the communities at each level for a single place. (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>It may be easier to see how the algorithm progresses through levels if we look at all the intermediate communities for a single place.</p>
</div>
<div class="paragraph">
<p>You can examine the communities on each hiearchical level for London by running the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->UNWIND range(0,2) as level
MATCH (home:Place {name: "London"})
MATCH (place:Place) WHERE place.communities_louvain[level] = home.communities_louvain[level]
RETURN level,
       place.communities_louvain[level] AS community,
       count(*) as communitiesSize,
       collect(place.name) AS places<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.6.png" alt="EXLM.6" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The first level, the community is relatively small and contains only London, Colchester, and Harwich.
On the next level, it already contains 22 members and grows to 50 members on the third and final level.</p>
</div>
<div class="paragraph">
<p>Try looking up the hierarchical community&#8217;s progression for another place, e.g. Berlin, Paris, Amsterdam.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 7: Inspect hierarchical structure of a single community on the final level (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>To better understand why the Louvain Modularity algorithm is called a hierarchical community detection algorithm, you will examine a single community&#8217;s hierarchical structure.
You will inspect which communities of the first and second levels are merged into a single community on the final level.</p>
</div>
<div class="paragraph">
<p>You can examine the hiearchical structure of a single community by running the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Place)
WHERE p.communities_louvain[-1] = 154
RETURN collect(distinct p.communities_louvain[0]) as first_level_communities,
       collect(distinct p.communities_louvain[1]) as second_level_communities,
       collect(distinct p.communities_louvain[-1]) as third_level_communities<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXLM.7.png" alt="EXLM.6" width="400">
</div>
</div>
<div class="paragraph">
<p>You can observe that a single community of the final level consists of three communities found on the second level.
Those three communities are broken down into 15 different communities on the first level.
This is how the concept of community hierarchy in Louvain Modularity algorithm is derived.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Louvain Modularity: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Try using the stream version of the algorithm.</p>
</li>
<li>
<p>Try different configuration values.</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Louvain Modularity (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience writing Cypher to implement the Louvain Modularity algorithm using the European Roads dataset.
The Louvain Modularity algorithm finds clusters by comparing community density as it assigns nodes to different groups.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/TriangleCount.html'>Continue to Exercise: Triangle Count</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>