<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Memory Requirements</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Memory Requirements</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Memory Requirements (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.
After having completed all exercises prior to this one you will see:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="BeforeMemoryRequirements.png" alt="BeforeMemoryRequirements" width="150">
</div>
</div>
<div class="paragraph">
<p>At a minimum, if you do not see the European Roads and Game of Thrones data in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Memory Requirements (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query if you have completed all previous exercises:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedGraphsMemoryRequirements.png" alt="LoadedGraphsMemoryRequirements">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>For this exercise, you must have the <strong>roads</strong> and <strong>dach-region</strong> graphs created. If not, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Memory Requirements (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Before you run a graph algorithm, it is helpful to understand what the memory requirements will be for loading the data for the analysis, as well as the memory that will be required to run the algorithm. The <code>estimate()</code> function is used to provide you with this information and is available for the production-quality tier algorithms.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will determine the memory requirements for each algorithm on the datasets you have been working with:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Determine the memory requirements for loading named graphs.</p>
</li>
<li>
<p><strong>Part 2</strong>: Determine the memory requirements for running algorithms on these graphs.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Determine the memory requirements for loading named graphs. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to determine the memory requirements for loading these graphs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships.</p>
</li>
<li>
<p>Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships with included relationship weight property.</p>
</li>
<li>
<p>European roads dataset using the <strong>Place</strong> nodes and the <strong>EROADS</strong> relationships with included relationship weight property.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Determine the memory requirements for loading named graphs. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to determine the memory requirements for loading these graphs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create.estimate('Character', 'INTERACTS_SEASON1')
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This load requires 299 KiB of memory.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships with included <strong>weight</strong> relationship property.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create.estimate('Character', 'INTERACTS_SEASON1',
    {relationshipProperties:'weight'})
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This load requires 563 KiB of memory.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>European roads dataset using the <strong>Place</strong> nodes and the <strong>EROADS</strong> relationships with included <strong>inverse_distance</strong> relationship property.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create.estimate('Place', 'EROAD',
    {relationshipProperties:'inverse_distance'})
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This load requires 567 KiB of memory.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Determine the memory requirements for running algorithms on these graphs. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to determine the memory requirements for running these algorithms on these graphs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>PageRank on the European roads dataset.</p>
</li>
<li>
<p>Betweenness centrality on the DACH region of the European roads dataset.</p>
</li>
<li>
<p>Weakly Connected Components on the Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships.</p>
</li>
<li>
<p>Louvain Modularity on the Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON5</strong> relationships.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Determine the memory requirements for running algorithms on these graphs. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write the Cypher code to determine the memory requirements for running these algorithms on these graphs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>PageRank on the European roads dataset.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.pageRank.stream.estimate('roads')
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This algorithm requires 29 KiB of memory.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Betweenness centrality on the DACH region of the European roads dataset.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.betweenness.stream.estimate('dach-region')
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This algorithm requires 37 KiB of memory.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Weakly Connected Components on the Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON1</strong> relationships.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.wcc.write.estimate({nodeProjection:'Character',
                             relationshipProjection:'INTERACTS_SEASON1',
                             writeProperty:'wcc'})
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This algorithm requires 302 KiB of memory.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Louvain Modularity on the Game of Thrones dataset using the <strong>Character</strong> nodes and the <strong>INTERACTS_SEASON5</strong> relationships.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.louvain.stream.estimate({
    nodeProjection:'Character',
    relationshipProjection:'INTERACTS_SEASON5'})
YIELD requiredMemory<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>This algorithm requires 329 KiB to 951 KiB of memory.</p>
</div>
<div class="paragraph">
<p>Note that when you estimate the memory requirements of an anonymous graph projection, the memory requirements for both the graph projection and algorithm execution will be estimated.
However, when you estimate the memory requirements for a graph algorithm on a named graph projections, only the memory requirements for algorithm execution will be estimated.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Memory Requirements: Taking it further</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Calculate memory requirements for different combinations of graphs and algorithms.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Memory Requirements (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience estimating the memory requirements for loading graphs into memory and executing some production-tier algorithms.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/WeaklyConnectedComponents.html'>Continue to Exercise: Weakly Connected Components</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>