<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Node Similarity</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Node Similarity</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Node Similarity (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Node Similarity (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Similarity algorithms are useful for analyzing datasets to determine how alike nodes are based upon their properties and graph topology.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will execute Node Similarity algorithm on the Recipes dataset:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: View the Recipes dataset schema.</p>
</li>
<li>
<p><strong>Part 2</strong>: Find the most common ingredients.</p>
</li>
<li>
<p><strong>Part 3</strong>: Project the Recipes graph to graph catalog with native projection.</p>
</li>
<li>
<p><strong>Part 4</strong>: Run the Node Similarity algorithm to evaluate the distribution of the Jaccard index similarity score.</p>
</li>
<li>
<p><strong>Part 5</strong>: Run the Node Similarity algorithm to add a relationship between a pair of similar recipes.</p>
</li>
<li>
<p><strong>Part 6</strong>: Inspect the results of the algorithm.</p>
</li>
<li>
<p><strong>Part 7</strong>: Recommend similar recipes</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: View the Recipes dataset schema. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Recipes dataset contains <strong>Recipe</strong> nodes that are connected by the <strong>CONTAINS_INGREDIENT</strong> relationship to <strong>Ingredient</strong> nodes.</p>
</div>
<div class="paragraph">
<p>Write a query to view some of the <strong>RECIPE</strong> nodes and <strong>CONTAINS_INGREDIENT</strong> relationships in this dataset.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: View the Recipes dataset schema. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to view some of the <strong>RECIPE</strong> nodes and <strong>CONTAINS_INGREDIENT</strong> relationships in this dataset.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH p=(:Recipe)-[:CONTAINS_INGREDIENT]-(:Ingredient)
RETURN p LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.1.png" alt="EXNS.1" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Recipes contain one or more ingredient.
Some ingredients are used in many recipes.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Find the most common ingredients. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will identify the most common ingredients.</p>
</div>
<div class="paragraph">
<p>Write a query to find the top five common ingredients used in the recipes.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Match all <strong>Ingredient</strong> nodes and count their <strong>CONTAINS_INGREDIENT</strong> relationships.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Find the most common ingredients. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to find the top five common ingredients used in the recipes.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Match all <strong>Ingredient</strong> nodes and count their <strong>CONTAINS_INGREDIENT</strong> relationships.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (i:Ingredient)
RETURN i.name as ingredient,
       size((i)&lt;-[:CONTAINS_INGREDIENT]-()) as count
ORDER BY count DESC LIMIT 5<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.2.png" alt="EXNS.2" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The most common ingredient used is sugar, followed by egg and flour.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Project the Recipes graph to graph catalog with native projection. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Recipes dataset is not yet projected as a named graph in the Graph Catalog.
Here you will project a named graph that consists of nodes with labels <strong>Recipe</strong> and <strong>Ingredient</strong>, connected by the <strong>CONTAINS_INGREDIENT</strong> relationships.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to project the Recipes graph to Graph Catalog using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>recipes</strong>.</p>
</li>
<li>
<p>Project all <strong>Recipe</strong> and <strong>Ingredient</strong> nodes.</p>
</li>
<li>
<p>Project all relationships with a type <strong>CONTAINS_INGREDIENT</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Project the Recipes graph to graph catalog with native projection. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to project the Recipes graph to Graph Catalog using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name the graph <strong>recipes</strong>.</p>
</li>
<li>
<p>Project all <strong>Recipe</strong> and <strong>Ingredient</strong> nodes.</p>
</li>
<li>
<p>Project all relationships with a type <strong>CONTAINS_INGREDIENT</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.graph.create</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.create('recipes',
  ['Ingredient','Recipe'],'CONTAINS_INGREDIENT')<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>You will see this result:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.3.png" alt="EXNS.3" width="600">
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Run the Node Similarity algorithm to evaluate the distribution of the Jaccard index similarity score. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Before we infer a similarity network between recipes, we will evaluate the similarity score distribution.
Examining the similarity score distribution will help us fine-tune the <strong>topK</strong> and <strong>similarityCutoff</strong> parameters of the Node Similarity algorithm in the next step.
This is probably the most crucial step of the Node Similarity algorithm as the <strong>topK</strong> and <strong>similarityCutoff</strong> parameters directly influence how sparse or dense the inferred similarity network will be.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to examine the similarity score distribution of the Recipes dataset following these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>recipes</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the Node Similarity algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following result: nodesCompared, similarityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.nodeSimilarity.stats</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4:  Run the Node Similarity algorithm to evaluate the distribution of the Jaccard index similarity score. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to examine the similarity score distribution of the Recipes dataset following these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>recipes</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stats</code> mode of the Node Similarity algorithm.</p>
</li>
<li>
<p><code>YIELD</code> the following result: nodesCompared, similarityDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.nodeSimilarity.stats</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.nodeSimilarity.stats('recipes')
YIELD nodesCompared, similarityDistribution<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.4.png" alt="EXNS.4" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The Jaccard similarity score ranges from 0 to 1, where 1 means that the two recipes use the exact same ingredients.
On average, a pair of recipes share around 35% of ingredients.
Judging by the <strong>p90</strong> score, only 10% of recipe pairs share more than 55% of ingredients.
The recipes are not very similar, so you will have to use a lower <strong>similarityCutoff</strong> parameter to not infer too sparse similarity network.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Run the Node Similarity algorithm to add a relationship between a pair of similar recipes. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>After the similarity score distribution examination, you can go ahead and write the similarity network between recipes back to Neo4j.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to execute the Node Similarity algorithm on the Recipes dataset using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>recipes</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>write</code> mode of the Node Similarity algorithm.</p>
</li>
<li>
<p>The algorithm will write a relationship with a type <strong>SIMILAR</strong> between a pair of similar recipes.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>score</strong> to each relationship with the computed value.</p>
</li>
<li>
<p>Specify a similarity cutoff threshold of 0.45.</p>
</li>
<li>
<p>Specify the <strong>topK</strong> parameter of 5.</p>
</li>
<li>
<p><code>YIELD</code> the following result: nodesCompared, relationshipsWritten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.nodeSimilarity.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Run the Node Similarity algorithm to add a relationship between a pair of similar recipes. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to execute the Node Similarity algorithm on the Recipes dataset using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>recipes</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>write</code> mode of the Node Similarity algorithm.</p>
</li>
<li>
<p>The algorithm will write a relationship with a type <strong>SIMILAR</strong> between a pair of similar recipes.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>score</strong> to each relationship with the computed value.</p>
</li>
<li>
<p>Specify a similarity cutoff threshold of 0.45.</p>
</li>
<li>
<p>Specify the <strong>topK</strong> parameter of 5.</p>
</li>
<li>
<p><code>YIELD</code> the following result: nodesCompared, relationshipsWritten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.nodeSimilarity.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.nodeSimilarity.write('recipes',{
  writeRelationshipType:'SIMILAR',
  writeProperty:'score',
  similarityCutoff:0.45,
  topK:5
  })
YIELD nodesCompared, relationshipsWritten<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.5.png" alt="EXNS.4" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The algorithm has written 3000 similarity relationships between 2178 nodes.
On average, a single recipe is deemed similar to 1.4 other recipes.
Even with the low <strong>similarityCutoff</strong> parameter, the inferred similarity network is still relatively sparse.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 6: Inspect the results of the algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The similarity network contains <strong>Recipe</strong> nodes that are connected by the <strong>SIMILAR</strong> relationship.
Write a query to view some of the nodes and relationships in this network.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 6: Inspect the results of the algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The similarity network contains <strong>Recipe</strong> nodes that are connected by the <strong>SIMILAR</strong> relationship.
Write a query to view some of the nodes and relationships in this network.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH p=(:Recipe)-[:SIMILAR]-(:Recipe)
RETURN p LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.6.png" alt="EXNS.6" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>For example, Banana cue recipe is similar to Camote cue recipe.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 7: Recommend similar recipes. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The inferred similarity network between recipes can be used to recommend similar recipes in your application.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to recommend the three most similar recipes to <strong>Sourdough</strong> recipe.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 7: Recommend similar recipes. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to recommend the three most similar recipes to <strong>Sourdough</strong> recipe.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (r:Recipe)-[s:SIMILAR]-&gt;(recommendation)
WHERE r.name = 'Sourdough'
RETURN recommendation.name as recommendation, s.score as score
ORDER BY score DESC LIMIT 3<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look something like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXNS.7.png" alt="EXNS.7" width="300">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If we want to try baking something similar to Sourdough, we could try Flatbread, Kitcha, or Sabaayad.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Node Similarity: Taking it further</h3>
    <br/>
    <div>
      <div class="ulist">
<ul>
<li>
<p>Change the similarity cutoff and topK parameters to see how it affects the results.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Node Similarity (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Similarity algorithms are useful for analyzing datasets to determine how alike nodes are based upon their properties and graph topology.</p>
</div>
<div class="paragraph">
<p>In this exercise, you gained experience with Node Similarity algorithm on the Recipes dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/PracticalApplication.html'>Continue to Exercise: Practical application</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>