<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>PageRank</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>PageRank</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>PageRank (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>PageRank (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graph <strong>roads</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>PageRank (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>PageRank measures the transitive influence or connectivity of nodes.
It can be computed by iteratively distributing one node’s rank (originally based on degree) over its neighbors.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will execute PageRank on the European Roads dataset:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Perform the PageRank algorithm.</p>
</li>
<li>
<p><strong>Part 2</strong>: Perform the weighted variant of the PageRank algorithm.</p>
</li>
<li>
<p><strong>Part 2</strong>: Perform the Personalized PageRank algorithm.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Perform the PageRank algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will start by running the PageRank algorithm on the European Roads network.
The PageRank algorithm will determine the most influential <strong>Place</strong> nodes in the network.
Remember that PageRank interprets each connection in the network as a vote of importance or influence.
The places with the most connections to other well-connected cities will rank the highest.
In the context of the European Roads network, you can use the PageRank algorithm to find the most well-connected places in the system.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform PageRank analysis using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Specify a maximum of 20 iterations.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the PageRank algorithm.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by PageRank score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.pageRank.stream</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Perform the PageRank algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform PageRank analysis using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Specify a maximum of 20 iterations.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the PageRank algorithm.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by PageRank score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.pageRank.stream</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.pageRank.stream('roads',
    {maxIterations:20})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXPR.1.png" alt="EXPR.1" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Here you see that Berlin, Budapest, and Praha are the most well-connected places in the networks judging by the PageRank centrality score.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Perform the weighted variant of the PageRank algorithm. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will run the weighted variant of the PageRank algorithm.
Just like with the Community Detection algorithms, the PageRank algorithm also deems that a higher relationship weight value represents a stronger connection.
Again, you will use the <strong>inverse_distance</strong> relationship property as the input relationship weight.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the weighted variant of the PageRank analysis using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the PageRank algorithm.</p>
</li>
<li>
<p>Specify a maximum of 20 iterations.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by PageRank score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.pageRank.stream</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Perform the weighted variant of the PageRank algorithm. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write Cypher code to perform the weighted variant of the PageRank analysis using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the PageRank algorithm.</p>
</li>
<li>
<p>Specify a maximum of 20 iterations.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>The relationship weight property name is <strong>inverse_distance</strong>.</p>
</li>
<li>
<p>Order the results by PageRank score descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.pageRank.stream</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.pageRank.stream('roads',{
    maxIterations:20,
    relationshipWeightProperty:'inverse_distance'})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXPR.2.png" alt="EXPR.2" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Using the weighted variant of the PageRank algorithm, you can observe that now the most well-connected place is Basel, which was in 6th place of the unweighted variant.
Berlin lost the 1st place but is still going strong in second place.
Praha keeps the third place.
On the other hand, Budapest has dropped down to 9th place.
You can observe how using various configuration settings can influence the PageRank ranking score.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Perform the Personalized PageRank algorithm. (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In the last example, you will use the Personalized PageRank algorithm.
Personalized PageRank is a variation of PageRank, which is biased towards a set of source nodes.
You need to match the predefined source nodes and add them as an input to the <code>sourceNodes</code> parameter.</p>
</div>
<div class="paragraph">
<p>Write Cypher code to perform the Personalized PageRank analysis using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>stream</code> mode of the PageRank algorithm.</p>
</li>
<li>
<p>Add the <strong>sourceNodes</strong> parameter.</p>
</li>
<li>
<p>Specify all the <strong>Place</strong> nodes with the country code <strong>E</strong> as the source nodes.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.pageRank.stream</code>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Place)
WHERE p.countryCode = 'E'
WITH collect(p) as source_nodes
CALL gds.pageRank.stream('roads', {
    sourceNodes:source_nodes})
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS place, score
ORDER BY score DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXPR.3.png" alt="EXPR.3" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>All the top ten ranked places are located in Spain, which makes sense as the Personalized PageRank algorithm is biased towards the cities located in Spain.
You can try to use source nodes located in other countries and observe the results.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>PageRank: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Change the iterations and dampening factor to see how it affects the results.</p>
</li>
<li>
<p>Change the sourceNodes parameter to see how it affects the results.</p>
</li>
<li>
<p>Try using the non-stream version of the algorithm.</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>PageRank (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>PageRank measures the transitive influence or connectivity of nodes.
It can be computed by iteratively distributing one node’s rank (originally based on degree) over its neighbors.</p>
</div>
<div class="paragraph">
<p>In this exercise, you analyzed PageRank for the European Roads dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/BetweennessCentrality.html'>Continue to Exercise: Betweenness Centrality</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>