<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Triangle Count</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Triangle Count</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Triangle Count (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Triangle Count (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedDatabase">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Triangle Count (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The Triangle Count algorithm counts the number of triangles for each node in the graph.
A triangle is a set of three nodes where each node has a relationship to the other two.
The implementation in the GDS library only finds triangles in undirected graphs.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will gain some experience with writing Cypher code to implement the Triangle count algorithm using the European Roads dataset.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: Run the Triangle Count algorithm to add a triangles property to each node.</p>
</li>
<li>
<p><strong>Part 2</strong>: Inspect the results of the algorithm.</p>
</li>
<li>
<p><strong>Part 3</strong>: Examine the triangles of a single place.</p>
</li>
<li>
<p><strong>Part 4</strong>: Run the Triangle Count algorithm on the DACH subgraph.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Run the Triangle Count algorithm to add a triangles property to each node. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>First, you will calculate the number of triangles for each node and store the results back to Neo4j.</p>
</div>
<div class="paragraph">
<p>Write a query to perform the Triangle Count algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>triangles</strong> to each node with the computed value.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.triangleCount.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: Retrieve the triangles in the European Roads dataset. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to perform the Triangle Count algorithm on the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>The algorithm will write a property named <strong>triangles</strong> to each node with the computed value.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will call <code>gds.triangleCount.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.triangleCount.write('roads',
   {writeProperty:'triangles'})
YIELD globalTriangleCount, nodeCount
RETURN globalTriangleCount, nodeCount<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXTC.1.png" alt="EXTC.1" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>There are 894 nodes and only 21 triangles in the whole graph.
This indicates that the European roads network is very sparse and not very interconnected.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Inspect the results of the algorithm (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Next, you will inspect the <strong>Place</strong> nodes with the highest count of triangles.</p>
</div>
<div class="paragraph">
<p>Write a query to return all <strong>Place</strong> nodes and their triangle count property.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by triangles descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Inspect the results of the algorithm (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to return all <strong>Place</strong> nodes and their triangle count property.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by triangles descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (p:Place)
RETURN p.name as place,
       p.triangles as triangles
ORDER BY triangles DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXTC.2.png" alt="EXTC.2" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Antwerpen has the most triangles, followed by Bruxelles and Liège.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Examine the triangles of a single place (Instructions/Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Here, you will verify the triangle count for a given <strong>Place</strong> node.</p>
</div>
<div class="paragraph">
<p>Write a query to match Antwerpen and its neighbours.
Include connections between neighbours.</p>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Use the variable-length pattern matching.</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path=(p:Place{name:'Antwerpen'})-[*..2]-(neighbour)
WHERE (p)--(neighbour)
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXTC.3.png" alt="EXTC.3" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>Breda, Eindhoven, and Antwerpen form a triangle.
Zeebrugge does not form any triangles with Antwerpen as it has no connections to any of its neighbours.
It is interesting to notice that the Antwerpen, Bruxelles and Liège, which are the places with the highest count of triangles, form a triangle themselves.
It seems that the connections between cities in Belgium are the most resistant to any catastrophic failure.
For example, if they closed the road between Liège and Antwerpen, you could always travel from Liège to Antwerpen via Bruxelles.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Run the Triangle Count algorithm on the DACH subgraph (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Now, you will find the <strong>Place</strong> nodes with the highest triangle count of the DACH region.</p>
</div>
<div class="paragraph">
<p>Write a query to perform the Triangle Count algorithm on the DACH region of the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>dach-region</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by triangles count descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.triangleCount.stream</code></p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Run the Triangle Count algorithm on the DACH subgraph (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to perform the Triangle Count algorithm on the DACH region of the European road network using these guidelines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>dach-region</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p>Use the <code>gds.util.asNode()</code> function to fetch the node from the nodeId value and return its name.</p>
</li>
<li>
<p>Order the results by triangles count descending.</p>
</li>
<li>
<p>Limit it to the top ten results.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: Call <code>gds.triangleCount.stream</code></p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.triangleCount.stream('dach-region')
YIELD nodeId, triangleCount
RETURN gds.util.asNode(nodeId).name as place, triangleCount
ORDER BY triangleCount DESC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXTC.4.png" alt="EXTC.3" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>There are only six triangles in the DACH region of the European roads network and no place belongs to more than a single triangle.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Triangle Count: Taking it further</h3>
    <br/>
    <div>
      <div class="ulist">
<ul>
<li>
<p>Try different configuration values.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Triangle Count (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience with writing Cypher to implement the Triangle count algorithm to return the count of triangles for the <strong>Place</strong> nodes of the European Roads dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LocalClusteringCoefficient.html'>Continue to Exercise: Local Clustering Coefficient</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>