<style type="text/css" media="screen">
/*
.nodes-image {
	margin:-100;
}
*/	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.imageblock .content img, .image img {max-width: 900px;max-height: 300px;}
.deck h3, .deck h4 {display: block !important;margin-bottom:8px;margin-top:5px;}
.listingblock {margin:8px;}
.pull-bottom {position:relative;bottom:1em;}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.admonitionblock.note.speaker { display:none; }
</style>
<style type="text/css" media="screen">
/* #editor.maximize-editor .CodeMirror-code { font-size:24px; line-height:26px; } */
</style>
<article class="guide" ng-controller="AdLibDataController">
  <carousel class="deck container-fluid">
    <!--slide class="row-fluid">
      <div class="col-sm-3">
        <h3>Weakly Connected Components</h3>
        <p class="lead">Information</p>
			<!dl>
				
				
				
				
				
			</dl>
		</div>
      <div class="col-sm-9">
        <figure>
          <img style="width:300px" src=""/>
        </figure>
      </div>
    </slide-->
    


   <h4>Weakly Connected Components</h4>
   


<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Weakly Connected Components (Preparations)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The database you start with must contain all of the data you loaded in the setup for this course.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you click the database icon <span class="image"><img src="database-icon.png" alt="database icon"></span>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="DataLoaded.png" alt="DataLoaded" width="150">
</div>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the setup  and <strong>Load Data</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Weakly Connected Components (Graph Catalog)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The projected graphs <strong>roads</strong> and <strong>dach-region</strong> must be created and stored in the GDS graph catalog.</p>
</div>
<div class="paragraph">
<p>This is what you will see when you execute the following query:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.graph.list()
YIELD graphName, nodeCount, relationshipCount<!--/code--></pre>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="LoadedRoadsGraph.png" alt="LoadedRoadsGraph">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>If you do not see this in your Neo4j Browser, you will need to perform the steps in the <strong>Graph Catalog</strong> steps.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Weakly Connected Components (Overview)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Weakly connected components algorithm is used to find disconnected components or islands in a graph.</p>
</div>
<div class="paragraph">
<p>In this exercise, you will gain some experience with writing Cypher code to execute weakly connected graph algorithm using the European Roads dataset.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Part 1</strong>: View the European Roads dataset schema.</p>
</li>
<li>
<p><strong>Part 2</strong>: Find all connected places, writing weakly connected components information to the graph.</p>
</li>
<li>
<p><strong>Part 3</strong>: Inspect results of the weakly connected nodes.</p>
</li>
<li>
<p><strong>Part 4</strong>: Verify connected components results.</p>
</li>
<li>
<p><strong>Part 5</strong>: Inspect smaller disconnected components.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to the next page to start this exercise.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: View the European Roads dataset schema. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The European Roads dataset contains <strong>Place</strong> nodes that are connected by the <strong>EROAD</strong> relationship. Write a query to view some of the nodes and relationships in this dataset. What are the properties?</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 1: View the European Roads dataset schema. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>The European Roads dataset contains <strong>Place</strong> nodes that are connected by the <strong>EROAD</strong> relationship. Write a query to view some of the nodes and relationships in this dataset. What are the properties?</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH p=(:Place)-[:EROAD]-(:Place)
RETURN p LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXWCC.1.png" alt="EXWCC.1" width="500">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The properties for a <strong>Place</strong> node are <strong>name</strong> and <strong>countryCode</strong>.</p>
</div>
<div class="paragraph">
<p>The properties for an <strong>EROAD</strong> relationship are <strong>distance</strong>, <strong>inverse_distance</strong>, <strong>road_number</strong>, and <strong>watercrossing</strong>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Find all weakly connected places, writing their weakly component information to the graph. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>A weakly connected component is one where there is a path in any direction between all nodes in the component.
Write the Cypher code to find all weakly connected nodes and set the property <strong>wcc_component</strong> for each node based upon the result of the algorithm.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodePropertiesWritten, componentCount, componentDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.wcc.write</code>.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 2: Find all connected places, writing their weakly component information to the graph. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>A weakly connected component is one where there is a path in any direction between all nodes in the component.
Write the Cypher code to find all weakly connected nodes and set the property <strong>wcc_component</strong> for each node based upon the result of the algorithm.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The algorithm must use the projected graph <strong>roads</strong>, which is stored in the graph catalog.</p>
</li>
<li>
<p><code>YIELD</code> the following results: nodePropertiesWritten, componentCount, componentDistribution.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hint</strong>: You will use <code>gds.wcc.write</code>.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->CALL gds.wcc.write('roads',{
    writeProperty:"wcc_component"})
YIELD nodePropertiesWritten, componentCount, componentDistribution
RETURN nodePropertiesWritten, componentCount, componentDistribution<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXWCC.2.png" alt="EXWCC.2" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The algorithm found six components in the graph.
The largest one has 882 members, while the smallest has only two members.
The results are a bit surprising as you would expect that all the places in European Roads network would be connected.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Inspect results of the weakly connected nodes. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>You will inspect the connected components within the European Roads graph to gain more insight into which places are disconnected from the network.</p>
</div>
<div class="paragraph">
<p>Write a query to return all <strong>wcc_component</strong> values of the <strong>Place</strong> nodes.
For each component id, return the size of the component, and the list of <strong>Place</strong> names.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by component size ascending.</p>
</li>
<li>
<p>Limit to the top ten results.</p>
</li>
</ul>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 3: Inspect results of the weakly connected nodes. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write a query to return all <strong>wcc_component</strong> values of the <strong>Place</strong> nodes.
For each component id, return the size of the component, and the list of <strong>Place</strong> names.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order the results by component size ascending.</p>
</li>
<li>
<p>Limit to the top ten results,</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
RETURN place.wcc_component AS componentId,
       count(*) AS componentSize,
       collect(place.name) AS places
ORDER BY componentSize ASC
LIMIT 10<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXWCC.3.png" alt="EXWCC.3" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The component ids can have different values due to random assignment of ids.
Notice that most of the nodes are in the same component.
For example, it seems that Memmingen and Füssen are disconnected from the rest of the European Roads network.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Verify connected components results. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Now you will verify the results of the connected components algorithm by retrieving all the neighbours of <strong>Memmingen</strong> and <strong>Füssen</strong> places.
Write a Cypher query to retrieve all the neighbours of <strong>Memmingen</strong> and <strong>Füssen</strong> places.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 4: Verify connected components results. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Now you will verify the results of the connected components algorithm by retrieving all the neighbours of <strong>Memmingen</strong> and <strong>Füssen</strong> places.
Write a Cypher query to retrieve all the neighbors of <strong>Memmingen</strong> and <strong>Füssen</strong> places.</p>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH path=(p:Place)-[:EROAD]-()
WHERE p.name in ["Memmingen", "Füssen"]
RETURN path<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXWCC.4.png" alt="EXWCC.4" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>The results show the Memmingen and Füssen places are indeed disconnected from the European Road network.
Connected components algorithm can help us identify anomalies within our network.
Having disconnected components in a road network is not expected, so you might take action and inspect the data collection process to confirm if some places are actually disconnected, or you might lack some data about road connections.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Inspect smaller disconnected components. (Instructions)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Suppose that the data collection is separate for each country.
You want to retrieve the name and the country code for each <strong>Place</strong> in the smaller connected components so that you can talk to an appropriate person who handles the data collection for the country where you found some anomalies.</p>
</div>
<div class="paragraph">
<p>Write to query to return all connected components with 10 or less members.
For each component id, return the size of the component, the list of <strong>Place</strong> names, and also their country code.</p>
</div>
<div class="paragraph">
<p>Update this query to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Collect distinct country codes.</p>
</li>
<li>
<p>Filter communities with 10 or less members.</p>
</li>
</ul>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
WITH place.wcc_component AS component_id,
     count(*) AS componentSize,
     collect(place.name) AS places,
    // collect distinct country codes

// filter communities with 10 or less members

RETURN component_id, componentSize, places, countryCodes<!--/code--></pre>
</div>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Part 5: Inspect smaller disconnected components. (Solution)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>Write to query to return all connected components with 10 or less members.
For each component id, return the size of the component, the list of <strong>Place</strong> names, and also their country code.</p>
</div>
<div class="paragraph">
<p>Update the query to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Collect distinct country codes.</p>
</li>
<li>
<p>Filter communities with 10 or less members.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Here is the solution code:</p>
</div>
<div class="listingblock">
<div class="content">
<pre mode="cypher"  class="highlight pre-scrollable programlisting cm-s-neo code runnable standalone-example ng-binding" data-lang="cypher" lang="cypher"><!--code class="cypher language-cypher"-->MATCH (place:Place)
WITH place.wcc_component AS component_id,
     count(*) AS componentSize,
     collect(place.name) AS places,
     collect(distinct place.countryCode) AS countryCodes
WHERE componentSize &lt;= 10
RETURN component_id, componentSize, places, countryCodes<!--/code--></pre>
</div>
</div>
<div class="paragraph">
<p>The results returned will look like this:</p>
</div>
<div class="imageblock thumb">
<div class="content">
<img src="EXWCC.5.png" alt="EXWCC.5" width="400">
</div>
</div>
<div class="paragraph">
<p>&#160;<br></p>
</div>
<div class="paragraph">
<p>There are five small connected components, and each is in a different country.
To verify the Memmingen and Füssen anomaly, you will have to talk to the person who handles the data collection for Germany.</p>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Weakly Connected Components: Taking it further</h3>
    <br/>
    <div>
      <div class="olist arabic">
<ol class="arabic">
<li>
<p>Try different configuration values.</p>
</li>
<li>
<p>Try the weighted variant of the weakly connected component algorithm.</p>
</li>
</ol>
</div>
	</div>
  </div>
</slide>



<slide class="row-fluid">
  <div class="col-sm-12">
    <h3>Weakly Connected Components (Summary)</h3>
    <br/>
    <div>
      <div class="paragraph">
<p>In this exercise, you gained some experience with writing Cypher for the Weakly Connected Components graph algorithms using the European Roads dataset.</p>
</div>
<div class="paragraph">
<p><a play-topic='https://aksz15.git-pages.thm.de/browserguides/LabelPropagation.html'>Continue to Exercise:Label Propagation</a></p>
</div>
	</div>
  </div>
</slide>
  </carousel>
</article>